@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@layer utilities {
    .bg-grid-pattern {
        background-size: 30px 30px;
        background-image:
            linear-gradient(
                to right,
                rgba(13, 148, 136, 0.04) 1px,
                transparent 1px
            ),
            linear-gradient(
                to bottom,
                rgba(13, 148, 136, 0.04) 1px,
                transparent 1px
            );
    }

    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    .animate-marquee {
        display: inline-block;
        white-space: nowrap;
        animation: marquee 30s linear infinite;
    }
}
